---
layout: default
title: Characters
---
<style>
  .character-short__entry {
    outline: 1px solid lightgrey;
    padding: 0.5em;
  }
  .character-short__entry h2 a {
    color: inherit;
  }
</style>

<h1 class="page-heading">Characters</h1>

<ul class="post-list">
  {% for character in site.characters %}
  <article class="character-short__entry">
    {% include figure.html image=character.image caption=character.image_caption width="100" style="float:right; margin-left: 0.5em" %}
    <header>
      <h2><a href="{{character.url}}">{{ character.title }}</a></h2>
      <p class="post-meta">
        {{character.epithet}}
        {%- if character.creator -%}, Created by {{character.creator | escape}}{%- endif -%}
      </p>
    </header>
    <p> {{character.excerpt}} </p>
    <footer>
      <a href="{{character.url}}">(Read more)</a>
    </footer>
  </article>
  {% endfor %}
</ul>
